.App {
  text-align: center;
  /* max-width: 1440px; */
}

/* @media screen and (max-width: 1024px) {
  .App {
    min-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    min-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .App {
    min-width: 375px;
  }
}

@media screen and (max-width: 320px) {
  .App {
    min-width: 320px;
  }
} */

body {
  background: rgba(40, 75, 99, 0.8);
}
